html, body, ul, li, div, h1, h2, h3, h4, h5, h6{padding:0; margin:0; -webkit-user-select:none;}


.editor{
  display: -webkit-flex;
  position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
}

.component-manager{
  width: 300px; border-right: 2px solid #ECE9E9;
}

.workspace{
  -webkit-flex: 1;
  background: #fff;
}

.simulator{
  width: 375px;
  height: 667px;
  border: 10px solid #ddd;
  border-radius: 3px;
}

.inspector{
  width: 300px; border-left: 2px solid #ECE9E9;
}
