.component-manager-group-title{
  padding-left: 20px;
  line-height: 40px;
  font-size: 14px;
  background: #ECE9E9;
  color: #333;
}
.component-manager-group-content{
  overflow: hidden;
  padding-left: 20px;
  padding-bottom: 20px;
  background: #fff;
}
.drag-component{
  float: left;
  width: 80px;
  border: 1px solid #eee;
  border-radius: 2px;
  background: #fff;
  margin-top: 20px;
  margin-right: 20px;
}

.drag-component:last-child{
  margin-right: 0;
}

.drag-component:hover{
  border: 1px solid #ddd;
}

.drag-component:active{
  border: 1px solid #ccc;
}

.drag-component-icon{
  height: 80px;
}

.drag-component-icon img{
  width: 40px;
  height: 40px;
  margin: 20px;
}

.drag-component-title{
  border-top: 1px solid #eee;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  background: #fff;
}